# Dependencies
node_modules/
functions/node_modules/

# macOS
.DS_Store
*.swp

# Xcode
*.xcuserstate
*.xcuserdatad/
xcuserdata/
DerivedData/
build/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcworkspace
!default.xcworkspace

# Firebase
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log

# Environment
.env
.env.local
Config.plist

# Secrets
GoogleService-Info.plist
